<footer style="padding-top: 3rem; text-align: center ">
  <img src="/images/idea__.jpg" style="height: 6rem "> 
    <p color:rgb(99, 99, 208); text-align:center  " >
      2022 S.Z.
    </p>
    
  </footer>