<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Document</title>
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Lato">
<style>
  body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', serif
  }
  .main-header {
    width: auto;
    height: 64px;
    padding: 0 25px;
    background-color: rgb(99, 99, 208);
  }

  .header-nav {
    height: 100%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  .nav-li {
    margin: 0 20px;
    padding: 0;
  }
  .nav-li a {
    text-decoration: none;
    color: white;
  }

  .main-content {
    margin-top: 30px;
  }
</style>
